# Sets Basics
A set in Python is an unordered collection of distinct hashable objects. Sets are commonly used for membership testing, removing duplicates from a sequence, and computing mathematical operations such as intersection, union, difference, and symmetric difference.

Set in python can be created using curly braces '{}' or the set() function.

In [1]:
example_set = {1, 2, 3, 4, 5} 
print(example_set)

{1, 2, 3, 4, 5}

In [2]:
another_set = set([1, 2, 3, 4, 5, 2, 3]) #set values are unique: {1, 2, 3, 4, 5}
print(another_set)

{1, 2, 3, 4, 5}

# Accessing Elements in a Set
Sets are unordered, so we cannot access items using indexes. However, we can iterate over a set using a loop:

In [3]:
example_set = {1 ,2, 5, 3}
for num in example_set:
    print(num, end=" ")

1 2 3 5

# Checking for membership efficiently:

In [4]:
example_set = {1 ,2, 5, 3}
if 5 in example_set:
    print("5 is in the set")

5 is in the set

# Adding element to a set
We can add elements to a set using add() or update() methods

In [5]:
example_set = {1 ,2, 5, 3}
example_set.add(8) # use add() to add a single element
print(example_set)

{1, 2, 3, 5, 8}

In [6]:
example_set.update([2, 6, 9, 4]) # use update() to add multiple elements
print(example_set)

{1, 2, 3, 4, 5, 6, 8, 9}

# Removing element from a set
We can use remove(), discard() and pop() methods to remove elements from a set

In [7]:
example_set = {1 ,2, 5, 3}
example_set.remove(1)       #Removes the element, raise a KeyError if not present
print(example_set)

{2, 3, 5}

In [8]:
example_set.discard(6)     #Removes the element, does nothing if not present
print(example_set)

{2, 3, 5}

In [9]:
arbitrary_element = example_set.pop() #Removes and return an abitrary element, raise a KeyError if its empty
print(arbitrary_element, example_set)

2 {3, 5}

# Common Set Operations
Python sets support mathematical operations like union, intersection, difference, and symmetric difference:

In [10]:
a = {1, 3, 4, 6}
b = {2, 1, 5, 3}

union_set = a | b
print(union_set)

{1, 2, 3, 4, 5, 6}

In [11]:
intersection_set = a & b
print(intersection_set)

{1, 3}

In [12]:
difference_set = a - b
print(difference_set)

{4, 6}

In [13]:
symmetric_difference = a^b
print(symmetric_difference)

{2, 4, 5, 6}

# Common Set Methods 
We have already seen: add(element), update(*others), discard(element), remove(element), discard(element), pop()
and clear(), copy(), deepcopy() are similar as list or tuple

(* others): The asterisk (*) before others signifies that the method can take multiple arguments.

# union(*others) :
Returns a set that is the union of two or more sets.

In [14]:
a = {1, 3, 4, 6}
b = {2, 1, 5, 3}
union_set = a.union(b) # or with multiple set as ;a.union(b,c, {1,2,7})
print(union_set)

{1, 2, 3, 4, 5, 6}

# intersection(*others):
Returns a set that is the intersection of two or more sets

In [15]:
a = {1, 3, 4, 6}
b = {2, 1, 5, 3}
intersection_set = a.intersection(b)
print(intersection_set)

{1, 3}

# intersection_update(*others)
Updates the set with the intersection of itself and another

In [16]:
a = {1, 3, 4, 6}
b = {2, 1, 5, 3}
a.intersection_update(b)
print(a)

{1, 3}

# difference(*others)
Returns a set containing all the elements that are in this set but not in the others.

In [17]:
a = {1, 3, 4, 6}
b = {2, 1, 5, 3}
diff_set = a.difference(b)
print(diff_set)

{4, 6}

# difference_upate(*others)
Removes all the elements of anothe set from this set

In [18]:
a = {1, 3, 4, 6}
b = {2, 1, 5, 3}
a.difference_update(b)
print(a)

{4, 6}

# symmetric_difference(other)
Returns a set with the symmetric differences of two sets.

In [19]:
a = {1, 3, 4, 6}
b = {2, 1, 5, 3}
sym_diff = a.symmetric_difference(b)
print(sym_diff)

{2, 4, 5, 6}

# symmetric_difference_update(other)
Updates a set with the symmetric difference of itself and another.

In [20]:
a = {1, 3, 4, 6}
b = {2, 1, 5, 3}
a.symmetric_difference_update(b)
print(a)

{2, 4, 5, 6}

# isdisjoint(other)
Returns True if two sets have a null intersection.

In [21]:
a = {1, 3}
b = {2, 5}
print (a.isdisjoint(b))

True

# issubset(other)
Returns True if another set contains this set.

In [22]:
a = {1, 3 , 4, 5, 2}
b = {2, 5}
print (a.issubset(b), b.issubset(a))

False True

# issuperset(other)
Returns True if this set contains another set

In [23]:
a = {1, 3 , 4, 5, 2}
b = {2, 5}
print (a.issuperset(b))

True