# Variables, Basic I/O Operations, Data Types and Arithmatic/Logical Operations
Variables: In Python, a variable is a storage location identified by a name or identifier. Variables are dynamically typed, which means you don't need to declare their type ahead of time.

In [1]:
# Variable assignments
a = 10
b = 5.5
message = "Hello, Python!"

# Variables can be re-assigned and can change type
a = "Now I'm a string."

#  Input and Print

The print() function is used to output data to the standard output device. It can take multiple arguments and format strings.

The input() function allows the user to input data. It always returns a string, which can be converted to a different type if necessary.

In [2]:
# Output with print()
print("Hello, World!")

# Input with input()
favorite_color = input("What is your favorite color? ")
print("Your favorite color is", favorite_color)

Hello, World!
What is your favorite color? Green
Your favorite color is Green

# Data type: integer (int)
Integers (int): These are whole numbers which can be positive, negative, or zero. They are often used in Python to perform various arithmetic and logical operations.

In [3]:
x = 10
y = -5
z = 0

# Different formats of printing

In [4]:
print("x= ",x," y= ", y, " z= ", z)

x=  10  y=  -5  z=  0

In [5]:
#Using the format() method:
print("x= {} y= {} z= {}".format(x, y, z))

x= 10 y= -5 z= 0

In [6]:
#Using f-strings (Formatted String Literals):
print(f"x= {x} y= {y} z= {z}")

x= 10 y= -5 z= 0

In [7]:
#Using % formatting
print("x= %d y= %d z= %d" % (x, y, z))

x= 10 y= -5 z= 0

# Arithmetic operations with integers

In [8]:
sum = x + y  # Addition
difference = x - y  # Subtraction
product = x * y  # Multiplication
quotient = x // y  # Integer division ( in case of negetive, the result is rounded down to the nearest integer)
remainder = x % 3  # Remainder 

print(f"Sum: {sum}, Remainder: {remainder}")

Sum: 5, Remainder: 1

# Exponentiation (**) 
This operator is used to raise a number to the power of another. It is more efficient and clearer than using math.pow() for exponentiation.

In [9]:
squared = 7 ** 2  # squared would be 49
cubed = 2 ** 3  # cubed would be 8

# Data type: Floating-Point Numbers (float): 
These represent real numbers and can include decimal points or use an exponential (e.g., e or E) to define the number. They are crucial for any calculations requiring precision.

In [10]:
float_number = 4.56
exponential_float = 1.2e34  # Equivalent to 1.2 * 10^34

print(f"Exponential_float: {exponential_float}")

Exponential_float: 1.2e+34

# Arithmetic operations with floats

In [11]:
a = 10.5
b = -4.2
c = 2.5e2  # 2.5 x 10^2 = 250.0

sum = a + b  # Addition
difference = a - b  # Subtraction
product = a * b  # Multiplication
quotient = a / b  # Division

In [12]:
print(f"Sum: {sum}, Quotient: {quotient}" )

Sum: 6.3, Quotient: -2.5

# Data type: Booleans (bool)
The Boolean data type in Python represents one of two values: True or False. Booleans are often the result of comparison or logical operations and are integral to control flow and decision-making in code.

In [13]:
is_adult = True
is_teenager = False

In [14]:
# Logical operations
and_result = is_adult and is_teenager  # Evaluates to False
or_result = is_adult or is_teenager  # Evaluates to True
not_result = not is_adult  # Evaluates to False

In [15]:
print(f" Result(and) : {and_result}, Result(or): {or_result}, Result(not): {not_result}")

 Result(and) : False, Result(or): True, Result(not): False

Besides these basic logical operations, booleans in Python are also associated with comparison operations, which include:

Equal to (==)
Not equal to (!=)
Greater than (>)
Less than (<)
Greater than or equal to (>=)
Less than or equal to (<=)
While these operations are typically used with numerical values, they can technically apply to booleans as well, where True is treated as 1 and False as 0:

In [16]:
print(True == 1)   # Output: True
print(False == 0)  # Output: True
print(True > False)  # Output: True
print(False < True)  # Output: True
print(True != False) # Output: True

True
True
True
True
True

In [17]:
# Initializing boolean values
a = True
b = False

# Logical AND operation
print("a and b:", a and b)  # Output: False

# Logical OR operation
print("a or b:", a or b)  # Output: True

# Logical NOT operation
print("not a:", not a)  # Output: False

# Comparison operations (True is treated as 1, False as 0)
print("a == b:", a == b)  # Output: False
print("a > b:", a > b)  # Output: True

a and b: False
a or b: True
not a: False
a == b: False
a > b: True

# Data type: String (str)
A string in Python is a sequence of characters. Strings are immutable, meaning once defined, their contents cannot be changed. They can be enclosed in single, double, or triple quotes for multiline strings.

In [18]:
single_quoted_string = 'Hello, Data Science!'
double_quoted_string = "Learning Python is fun."
triple_quoted_string = """This is a
multiline string example."""

In [19]:
print(single_quoted_string)
print(double_quoted_string)
print(triple_quoted_string)

Hello, Data Science!
Learning Python is fun.
This is a
multiline string example.

# Common String Operations

In [20]:
str1 = 'Hello'
str2 = "World"
str3 = """This is a
multi-line string."""

# String concatenation
greeting = str1 + ' ' + str2 + '!' 

# Accessing string characters
first_char = greeting[0]

print(f"greeting: {greeting} , first_char: {first_char}")

greeting: Hello World! , first_char: H

# Common String Methods

In [21]:
upper_case = greeting.upper()  #Converts all characters in the string to uppercase.
upper_case

'HELLO WORLD!'

In [22]:
lower_case = greeting.lower() #Converts all characters in the string to uppercase.
lower_case

'hello world!'

In [23]:
capitalized = greeting.capitalize() #Converts the first character to uppercase and the rest to lowercase.
capitalized

'Hello world!'

In [24]:
#Converts the first character of each word to uppercase and the remaining characters to lowercase.
title_case = "Hello blue planet".title() 
title_case

'Hello Blue Planet'

In [25]:
#Removes any leading and trailing whitespaces, including tabs and newlines.
trimmed_greet = "   Hello world  ".strip() 
trimmed_greet

'Hello world'

In [26]:
#find(substring): Returns the lowest index in the string where the substring is found. It returns -1 if the substring is not found.
index = greeting.find("World")
index

6

In [27]:
#replace(old, new): Returns a copy of the string with all occurrences of the old substring replaced by the new substring.
replaced = greeting.replace("World", "Planet")
replaced

'Hello Planet!'

In [28]:
# split(separator): Splits the string at the specified separator and returns a list of substrings.
words = greeting.split(" ")
words

['Hello', 'World!']

In [29]:
new_words = "Hello blue planet! Good moring!".split("!")
new_words

['Hello blue planet', ' Good moring', '']

In [30]:
#join(iterable): Concatenates a series of strings from an iterable (like a list or tuple), inserting the string it is called on between each.
word_list = ['Hello', 'Blue', 'Planet']
joined_string = " ".join(word_list) #joined using white space in between
joined_string

'Hello Blue Planet'

In [31]:
#isdigit(): Returns True if all characters in the string are digits, otherwise False.
numeric = "123456".isdigit()
numeric

True

In [32]:
#isalpha(): Returns True if all characters in the string are alphabetic and there is at least one character, otherwise False
alpha = "abc3def".isalpha()
alpha

False